<div class="login-wrapper">  
  <div class="login-card">
    <div class="login-card-header">
      <p>Login</p>
    </div>
    <div 
      class="login-card-content"
      [formGroup]="loginFormGroup"
    >
      <div class="login-card-content-input">
        <input 
          placeholder="Username"
          name="username"
          formControlName="username"
          [class.error-input]="formControls.username.touched && formControls.username.invalid"
        >
        <div
          *ngIf="formControls.username.touched && formControls.username.invalid"
          class="error-message"
        >
          Required
        </div>
      </div>
      <div class="login-card-content-input">
        <input
          placeholder="Password"
          type="password"
          name="password"
          formControlName="password"
          [class.error-input]="formControls.password.touched && formControls.password.invalid"
        >
        <div
          *ngIf="formControls.password.touched && formControls.password.invalid"
          class="error-message"
        >
          Required
        </div>
    </div>
      <div class="login-card-content-actions">
        <button
          mat-raised-button
          (click)="userLogin()"
          color="primary"
        >
          Login
        </button>
      </div>
  </div>
</div>