<div class="tags-clouds">
  <div class="tags-clouds-categories">
    <span 
      *ngFor="let item of authorsTagCloudSet"
      (click)="deleteAuthorFromTagsCloud(item)"
    >
      {{ item }}
      <div class="tags-clouds-categories-delete">
        x
      </div>
    </span>
    
  </div>
  <input
    class="tags-clouds-input"
    placeholder="Start typing"
    (blur)="onTouched()"
    [(ngModel)]="searchInputValue"
    (ngModelChange)="changeInputValue()"
  >
</div>

<div
  *ngIf="authorsSearchResult" 
  class="tags-clouds-list"
>
  <ul>
    <li 
      *ngFor="let author of authorsSearchResult"
      (click)="setAuthorInTagsCloud(author.id)"
    >
      {{ author.name }}
    </li>
  </ul>
</div>