<div *ngIf="isAuthentificated" class="header-login-auth">
    <div class="header-login-auth-username">
        <span>
            <fa-icon [icon]="faUserIcon"></fa-icon>
        </span>
        
        <span>
            {{userInfo.login}}
        </span>    
    </div>
    
    <a 
        [routerLink]="['/login']"
        routerLinkActive="active"
        class="header-login-auth-logout"
    >
        <span>
            <fa-icon [icon]="faUserLogout"></fa-icon>
        </span>
        
        <span (click)="userLogOut()">
            Log off
        </span>    
    </a>
</div>

<a
    *ngIf="!isAuthentificated"
    class="header-login-non-auth"
    [routerLink]="['/login']"
    routerLinkActive="active"
>
    <span>
        <fa-icon [icon]="faUserLogin"></fa-icon>
    </span>
    
    <span>
        Login
    </span>    
</a>
