@import '../../../../assets/less/modules/variables';

.course-list-item {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    border: 2px solid @color-gray;
    background-color: @color-white;
    border-radius: 6px;
    box-shadow: 5px 5px 18px @color-gray2;
    margin-bottom: 20px;

    &--changed-background {
        background-color: @color-yellow1;
    }

    &-top-rated {
        display: block;
        
        &-icon {
            color: @color-yellow;
        }

        &--display-none {
            display: none;
        }
    }

    &-data {
        width: 80%;
        padding-right: 50px;
        font-family: 'SourseSansPro Regular';
            
        &-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
    
            &-info {
                display: flex;
                color: @color-gray2;
    
                p:first-child {
                    margin-right: 20px;
                }
            }
    
            &-title {
                display: flex;
                align-items: center;
                a {
                    font-size: 30px;
                    text-decoration: none;
                }
                .course-list-item-top-rated {
                    font-size: 30px;
                }
            }
        }
    
        &-text {
            line-height: 2;
        }
    }

    &-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;

        button {
            height: 25px;
            width: 200px;
            margin-right: 8px;
            margin-left: 8px;
            background-color: @color-blue;
            color: @color-white;
            border-radius: 3px;
            border: none;
            font-size: 12px;
            font-family: 'SourseSansPro Semibold';
            cursor: pointer;
            outline: none;
            &:hover {
                background-color: @color-blue1;
            }
        }
    }
}

.border {
    &--color-green {
        border-color: @color-green2; 
    }

    &--color-blue {
        border-color: @color-blue2;
    }
}