<li class="course-list-item" 
    appChangeBorderColor [createdAtDate]="item.createdAtDate"
    [ngClass]="{
        'course-list-item--changed-background': item.topRated
    }"
>
    <div class="course-list-item-data">
        <div class="course-list-item-data-header">
            <div class="course-list-item-data-header-title">
                <a 
                    [routerLink]="['/courses', item.id]"
                    routerLinkActive="active"
                >
                  title: {{item.title | uppercase}}
                </a>
                <span [ngClass]="{
                    'course-list-item-top-rated--display-none': !item.topRated,
                    'course-list-item-top-rated': item.topRated
                }">
                    <fa-icon
                        [icon]="topRatedIcon"
                        class="course-list-item-top-rated-icon">
                    </fa-icon> 
                </span>
            </div>
            <div class="course-list-item-data-header-info">
                <p>
                    <fa-icon [icon]="clockButtonIcon"></fa-icon>
                    {{item.durationTime | transformMinutesToHours}} 
                </p>
                <p>
                    <fa-icon [icon]="calendarButtonIcon"></fa-icon> 
                    {{item.createdAtDate | date}}
                </p>
            </div>
            
        </div>
    
        <div class="course-list-item-data-text">
            {{item.description}}
        </div>
    </div>
    
    <div class="course-list-item-actions">
        <button> 
            <fa-icon [icon]="editButtonIcon"></fa-icon> 
            Edit
        </button>
        <button (click)="onDeleteCourseEmit(item.id, item.title)">
            <fa-icon  [icon]="trashButtonIcon"></fa-icon> 
            Delete 
        </button>
    </div>
</li>